/*    General use styles     */
.m-0 {margin: 0px !important;}
.m-1 {margin: 1em !important;}
.m-2 {margin: 2em !important;}
.mb-1 {margin-bottom: 1em !important;}
.my-0 {margin-top: 0px;margin-bottom: 0px;}
.my-1 {margin-top: 1em;margin-bottom: 1em;}
.my-2 {margin-top: 2em;margin-bottom: 2em;}
.border-0{border-radius: 0px !important;}
.float-start{float: left !important;}
.float-end{float: right !important;}
.glass {
    color: white !important;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 155, 155, 155, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.glass a {color: white;}
.white{color:white !important;}
/*    Specific styles    */
body { 
    background: linear-gradient(to bottom right, #3d3d3d, black) no-repeat;
    height: 100vh;
    text-align: center; 
    font-family: 'Trebuchet MS', sans-serif;
}
@font-face {
  font-family: Trebuchet MS;
}
button { 
    margin: 20px; 
    padding: 15px; 
    font-size: 20px; 
    color: white; 
    border: none; 
    border-radius: 5px; 
}
#btn-bg-color {
    position: absolute;
    background-color: white;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    left: 1%;
    top: 10%;
    filter: blur(15px);
    z-index: -5;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out, transform 0.5s ease-in-out;
}  
/* Expande en dirección normal al hacer hover */
#btnControl:hover ~ #btn-bg-color {
    transform: translate(-5px,-10px);
    width: 302px;
    height: 100px;
}
/* Se mueve a la derecha cuando está marcado */
#btnControl:checked ~ #btn-bg-color {
    transform: translateX(215px);
}
/* Cuando está marcado y el mouse pasa por encima, crece en dirección opuesta */
#btnControl:checked:hover ~ #btn-bg-color {
    width: 302px;
    height: 100px;
    transform: translate(-5px, -10px); /* Se mueve menos para expandirse a la izquierda */
}
#btn-bg{  
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 5px 10px 0 grey;
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 300px;
    height: 100px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    transition: box-shadow 0.25s ease-in-out;
}
#btnControl {
    display: none;
}
label.btn {
    display: block;  /* Hace que el label se comporte como un bloque */
    width: 100%;  /* Ocupa todo el ancho de #btn-bg */
    height: 100%; /* Ocupa todo el alto de #btn-bg */
    cursor: pointer; /* Asegura que se muestre el cursor de clic */
    top: 0;
    left: 0;
}
#btnControl + label > svg {
    z-index: 2;
    fill:red;
    opacity: 0.5;
    transition: transform 0.5s ease-in-out, fill 0.25s ease-in-out;
}
#btnControl:checked + label > svg {
    z-index: 2;
    fill:green;
    opacity: 0.5;
    transform: translateX(215px);
}
#statusText {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
#switch-button{
    margin-left: -12.5em;
    margin-right: auto;
}
/*   navbar styles   */
ul {
    width: 100%;
    height: 3em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {float: left;}
li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: rgba(255, 255, 255, 0.3);
}
.active {
  background-color: rgba(255, 255, 255, 0.3);
}
/*    dropdown btn    */
.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown {
  display: inline-block;
  overflow: hidden;
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  right: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 0;
}
/*-------------------*/
.toggle {
  display: none;
}

.emoji {
  font-size: 1rem;
  cursor: pointer;
  user-select: none;
}