/*    General use styles     */
.m-0 {margin: 0px !important;}
.my-1 {margin-top: 1em !important; margin-bottom: 1em !important;}
.white {color: white !important;}
.float-end {float: right !important;}
/*    Specific styles    */
body {
    background: linear-gradient(to bottom right, #3d3d3d, black) no-repeat;
    height: 100vh;
    font-family: 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
@font-face {
  font-family: Trebuchet MS;
}
#password-container-bg {
    position: absolute;
    background-color: white;
    width:  20em;
    height: 5em;
    border-radius: 50px;
    left: 50%;
    top: 50%;
    /* Add the blur effect */
    filter: blur(15px);
    -webkit-filter: blur(15px);
    transform: translate(-50%, -50%);
    z-index: 0;
    
    transition: width 1s, height 1s, transform 1s;
} 
#password-container {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 5px 10px 0 grey;
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    z-index: 1;
    width: 15em;
    padding: 20px;
    border-radius: 10px;
    transition: box-shadow 0.25s ease-in-out;
}
#password-container:hover + #password-container-bg {    
    width: 20em;
    height: 21em;
    border-radius: 15px;

    transform: translate(-50%, -50%) translateY(7em);
}
input {
    display: block;
    width: 15em;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1.5px solid grey;
}
.btn-dark {
    width: 5.5em;
    padding: 8px;
    background: linear-gradient(to top right, #343a40 50%, #212529 50%);
    background-size: 200% 200%;
    background-position: top right;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-position 0.5s ease-in-out;
}
.btn-dark:hover {
    background-position: bottom left;
}
.btn-secondary {
    width: 5.5em;
    padding: 8px;
    background: linear-gradient(to top right, #4e565f 50%, #343a40 50%);
    background-size: 200% 200%;
    background-position: top right;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-position 0.5s ease-in-out;
}
.btn-secondary:hover {
    background-position: bottom left;
}
ul {
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    overflow: hidden;
}